.cursor {
  display: inline-block;
  width: 7px;
  height: 1.2em;
  margin-top: 0.1em;
  background-color: currentColor;
  margin-left: 2px;
  animation: blink 1s step-end infinite;
  vertical-align: baseline;
}
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
  }
}
